body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
   
  }
  
  .header {
    margin: 0;
  background-color: #8caacf;
  padding: 0px;
  font-family: georgia, candara, "century gothic";
  display:flex;
  flex-direction: column;
  list-style-type: none;
  }
  
  /*the div socials css begins from his*/
  
  .motto{
    color: #dbd9b8;
  }
  strong{
  color: #8caacf;
  }
  .socials
   {
    height: 40px;
    background-color: #1F2937;
    border: 1px solid #8caacf;
    padding: 0 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
   }
  .socials ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 25px;
  }
  .socials i {
    color: #8caacf;
    font-size: large;
  }
  
  
  /*the next layer,div TITLES */
  
  .loc {
  height: 100px;
  padding: 0 50px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  }
  .findme{
    width: 400px;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
  .sub{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .findme i{
   color: #4287f5;
   font-size: 40px;
  }
  span{
  color: #1F2937;
  font-size: medium;
  font-weight: lighter;
  font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .sub a{
    font-family: "roboto";
    font-size: 20px;
    font-weight: bolder;
  }
  a{
    text-decoration: none;
    color: #0349aa;
  }
  
  /*the next phase in the nav div*/
  
  .menu {
    height: 70px;
    background-color: #327ac2;
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0 50px;
    gap: 150px;
  }
  nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
  nav a{
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #327ac2;
    text-decoration: none;
    font-family: poppins;
    height: 50px;
    gap: 10px;
  }
  nav a:hover{
    background: #8caacf;
    color: #fff;
  }
  nav ul{
    list-style: none;
    display: flex;
  }
  nav .navigate li{
    font-family: poppins, roboto;
    font-size: 21px;
    width: 100%;
  }
  nav .navigate {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  nav ul li{
    position: relative;
    width: 100%;
    text-align: center;
  }
  nav li:hover .dropdown li{
    top: 0;
    display: block;
  }
  
  .dropdown{
    display: flex;
    flex-direction: column;
  }
  .dropdown li{
    border-bottom: 2px solid #fff;
  }
  ul li ul.dropdown {
    position: absolute;
    z-index: 999;
    display: none;
  }
  ul li:hover ul.dropdown{
    display: block;
  }
  .searches{
    width: 220px;
    text-align: center;
    display: flex;
    justify-content: space-around;
  }
  .searches input{
    height: 27px;
    border-radius: 15px;
    border: 1px solid #cbeef5;
  }
  .searches button{
    border: 1px solid #cbeef5;
    border-radius: 15px;
    height: 30px;
    width: 30px;
  }
  /*the slide div begins and the tabbar ends here*/
  


  .ground{
    font-family: poppin, roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-weight: 200;
    width: 100%;
    height: 500px;
    color:#edeff5;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 600px;
    background-image: linear-gradient(0deg, rgba(2, 27, 69, 0.4), rgba(2, 27, 69, 0.4)), url("../imgs/pexels-pixabay-159839.jpg");
    background-size: cover;
  }
  .groundpic{
  
  }




  /*the begining od the middle section*/

.profile i{
    margin-left: 40px;
    border-radius: 50px;
    padding: 40px 60px;
    border: 3px solid #071f38;
    font-size: 80px;
}
.profile{
    background-image: url("../imgs/background.jpg");
    border: 1px solid #071f38;
    border-radius: 50px;
    padding: 40px 20px;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 120px;
    margin-bottom: 50px;

    gap: 100px;
}
.inside{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 70px 100px;
}
.office{
    background-color: #f0f4f5;
    width: 400px;
    border-radius: 20px;
    border: 2px solid #071f38;
    display:flex;
    flex-direction: column;justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 50px 20px;
}

.office p{

    padding-top: 30px;
    font-size: 19px;
}
.office i{
    padding: 60px 120px;
    border: 1px solid #1F2937;
    font-size: 100px;
}
/*beginning of the image div and end of the staff*/


.gallery{
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
}
.imgs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.gallery li{
    list-style-type: none;
    text-decoration: none;
}
.imgs li img{
    border-radius: 20px;
    border: 3px solid #8caacf;
    height: 200px;
    width: 250px;
}
.more-imgs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.more-imgs li img{
    border-radius: 20px;
    border: 3px solid #4287f5;
    height: 200px;
    width: 250px;
}
/*end of the middle div and beggining of the last div to the footer*/



.touch{
    padding: 55px 70px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 130px;
    border-radius: 20px;
    background-color: #327ac2;
    width: 75%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .set{
    width: 500px;
    margin: 0px;
    padding: 0px;
  
  }
  .set p{
    color: #fff;
    margin: 0px;
    padding: 0px;
    font-size: 60px;
    font-weight: lighter;
  }
  .set h2{
    color: #fff;
    margin: 0px;
    padding: 0px;
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: start;
  }
  .touch button{
    color: #327ac2;
    border: #dbd9b8;
    height: 50px;
    width: 180px;
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
  }
    .touch button:hover{
        color: #fff;
        background-color: #56a9cf;
    }




/*beginning of the footer div*/


footer .ul{
    text-decoration: none;
  }
  
  footer{
    padding-top: 50px;
    color: #fff;
    background-color:#1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
  }
  .done{
    display: flex;
    flex-direction: row;
  
  }
  .quick{
    border-left: 1px solid #4287f5;
    width: 320px;
    font-size: large;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .quick h1{
    padding: 20px 0px;
    font-size: 29px;
  }
  .logobox{
    width: 300px;
    font-size: large;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
  }
  .logobox img{
    border: 1px solid #4878d6;
    padding: 5px 5px;
  }
  .logobox ul{
    margin: 0 10px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    gap:20px
  }
  .logobox i{
    border: 1px solid #3e4c5f;
    border-radius: 10px;
    height: 40px;
    width: 40px;
    color: #4287f5;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .list{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  footer a{
    font-size: large;
    color: #fff;
  }
  .list li{
    padding-bottom: 20px;
    list-style-type: none;
  }
  
  
  
  /*this is the last div of the footer mapaddress*/
  .mapaddress{
    padding: 5px 0;
    margin: 0 20px;
    border-top: 1px solid #4287f5;
    width: 1340px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 500px;
  }
  .mapaddress h1{
    font-weight: 400;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .mapaddress p{
    font-size: larger;
    width: 220px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .mapaddress i{
    font-size: 20px;
    color: #4287f5;
  }
  @media (min-width: 600px) {
    .container {
      width: 80%;
    }
  }
  
  /* For mobile phones */
  @media (max-width: 599px) {
    .container {
      width: 100%;
    }
  }
  
  